[submodule "powershell-client"]
	path = powershell-client
	url = https://github.com/yoke88/PSPHPIPAM.git
[submodule "phpipam-pyclient"]
	path = phpipam-pyclient
	url = https://github.com/viniciusarcanjo/phpipam-pyclient.git
[submodule "phpipamsdk"]
	path = phpipamsdk
	url = https://github.com/efenian/phpipamsdk.git
