[submodule "powershell-client"]
	path = powershell-client
	url = https://github.com/yoke88/PSPHPIPAM.git
[submodule "phpipam-pyclient"]
	path = phpipam-pyclient
	url = https://github.com/viniarck/phpipam-pyclient.git
[submodule "phpipamsdk"]
	path = phpipamsdk
	url = https://github.com/efenian/phpipamsdk.git
[submodule "python-phpipam"]
	path = python-phpipam
	url = https://github.com/kompetenzbolzen/python-phpipam
[submodule "phpypam"]
	path = phpypam
	url = https://github.com/codeaffen/phpypam.git
[submodule "phpipam-ansible-modules"]
	path = phpipam-ansible-modules
	url = https://github.com/codeaffen/phpipam-ansible-modules.git